* {
  font-family: 'Trocchi', serif;
  margin: 10px auto;
  color:#8D4E96;
  font-size: 20px;
}

body {
  width: 600px;
  background-color: #E0CDE2;
  margin: 0px auto;
}

header {

  font-size: 50px;
  font-weight: normal;
  line-height: 48px;
  background-color: #E8DBEA;
  width: 300px;
  text-align: center;
  border: 1px solid #E8DBEA;
  border-radius: 40px;
  margin-bottom: 20px;
}
content {
  width: 600px;
  height: 300px;
  display: block;
  background-color:#E8DBEA;
  padding-top:15px;
  border-radius: 30px;
}
.input {
  width: 500px;
  height: 40px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 14px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
  margin: 20px auto;
  display: block;
}
button {
  width: 100px;
  height: 40px;
  background-color:#8D4E96;
  color:#E8DBEA;
  font-weight: bold;
  margin: 0px 5px 0px 20px;
  border-radius: 14px;
  outline: none;

}
button:hover {
background-color:#9961A1;
}
.delete {
  width: 60px;
  display: block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #FF4500;
  color: #FFE4E1;
  display: none;
}
.left_items {
  float: right;
  margin-right: 40px;
}
ul {
  padding-right: 40px;
  list-style-image: url(../images/to_do.png);
}
.done_ul {
  list-style-image: url(../images/done.png);
}
li {
  border-bottom: 1px dashed #FFFFFF;
  color: #9961A1;
  background-image: url("") no-repeat 2px;
}
.line_through {
  list-style: none;
  text-decoration:line-through;
}
